<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
    <script> scr="app.js"</script>
</head>
<body>
    <h1>Margaret Hamilton</h1>
    <a href="/home">Volver al sitio</a>
    <p>Margaret Hamilton (17 de agosto de 1936) es una científica computacional, matemática e ingeniera de Software.

        Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,1​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.2​3​4​ En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software.5​ Acuñó el término «ingeniería de software» para distinguir entre el trabajo de hardware y otras ingenierías. A pesar de que su idea no fue bien recibida al inicio, eventualmente el software generó el mismo respeto que otras disciplinas.6​7​
        
        El 22 de noviembre de 2016, Hamilton recibió la Medalla Presidencial de la Libertad, entregada por el expresidente de Estados Unidos Barack Obama, por su trabajo en la NASA durante las misiones Apolo.8​9​
        
        Su enfoque del diseño de software fue pionero para la época, ya que los requisitos de robustez y tolerancia a fallos eran una prioridad para la seguridad y supervivencia de los astronautas durante los viajes a la Luna, es por esto que para muchos Margaret Hamilton es considerada una de las primeras personas en convertirse en Ingeniera de Confiabilidad del Sitio (del inglés Site Reliability Engineer).</p>
        <img src="public/img/Margaret_Hamilton.jpg" alt="Hamilton">
        <h2>Biografia</h2>
        <p>Hija de Ruth Esther Partington y Kenneth Heafield,11​ fue educada en un ambiente familiar con un padre filósofo-poeta y abuelo pastor cuáquero que la alentó a estudiar y a ser lo que ella quería ser.12​

            Conoció a su marido (del cual se divorció más tarde)13​ James Cox Hamilton mientras estudiaba en Earlham College y se casaron a finales de los años 1950 después de obtener su licenciatura. Tienen una hija llamada Lauren.
            
            Tras licenciarse en Matemáticas, quiso seguir estudiando, pero tuvo que dejar sus estudios durante un periodo de tiempo para que su marido terminara su carrera en Harvard, y trabajar de profesora de matemáticas y francés en un instituto.</p>
            <h3>Vida personal y educación</h3>
            <p>Margaret Elaine Heafield nació en Paoli, Indiana el día 17 de agosto de 1936. Hija de Kenneth Heafield y Ruth Esther Heafield, que tuvieron otros dos hijos posteriormente: David y Kathryn​.
Tras mudarse con su familia a Michigan, Margaret finalizó los estudios en el instituto Hancock High School en el año 1954. Estudió matemáticas en la Universidad de Michigan en el año 1955, antes de cambiarse a Earlham College, donde su madre estudiada. Allí obtuvo el grado en matemáticas con filisofía en el año 1958. Citó a Florence Long, el director del departamento de matemáticas en Earlham como ayuda en su deseo de investigar en las matemáticas abstractas y convertirse en profesora de matemáticas.18​ Otras de sus inspiraciones fueron su padre (filósofo y poeta) y su abuelo (director de instituto y ministro de Sociedad Religiosa de los Amigos), por incluir aspectos e intereses filosóficos en sus estudios.
En Earlham, Margaret conoció a su primer marido, James Cox Hamilton​, que terminaba sus estudios de química. Se casaron el 15 de junio de 1958, una vez Margaret se había graduado en Earlham​. Trabajó una temporada como profesora de matemáticas y francés en un colegio público en Boston, Indiana, hasta que su marido se graduó23​. Se mudaron a Boston, Massachusetts, donde James continuó sus estudios de postgrado en química en la Universidad de Brandeis.
Tuvieron una hija llamada Lauren el 10 de noviembre de 1959​. Finalmente, la pareja se divorció en 1967. Dos años después, Margaret se casaría con Dan Lickly</p>
</body>
</html>