<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tp Heroes</title>
    <link rel="stylesheet" href="public/css/style.css">
    <script> src='app.js'</script>
</head>
<body>
    <h1>Bienvenido a mi primer sitio web con express</h1>
    <h2>Veamos que tenemos aqui</h2>
    <a href="/babbage">Charles Babbage</a>
    <a href="/berners-lee">Tim Berners lee</a>
    <a href="/clarke">Arthur Charles Clarke</a>
    <a href="/hamilton">Margaret Hamilton</a>
    <a href="/hopper">Grace Murray Hopper</a>
    <a href="/lovelace">Ada Lovelace</a>
    <a href="/turing">Alan Turing</a>
</body>
</html>