<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="public/css/nose.css">
    <script> scr="app.js"</script>
</head>
<body>
    <a href="/home">Pulsa aqui para volver</a>
    <a href="https://www.abowman.com/hamster/"> o Pulsa aqui para jugar con el hamster virtual</a>
    <h1>Que pasó master?</h1>
    <h2>me parece que te perdiste, te dejo arriba algo para volver</h2>
    <img src="public/img/404.png" alt="gato">
</body>
</html>